  <!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

	<div class="item active">
	  <img src="http://lh4.ggpht.com/_VVFYRNan2Kw/TGbg5aosiiI/AAAAAAAAAZ8/M_JeIb39Cew/s800/voxel.png" alt="">
	  <div class="container">
		<div class="carousel-caption">
		  <h1>Test Carousel</h1>
		  <p class="lead">Epic Description.</p>
		  <a class="btn btn-large btn-primary" href="#">View details</a>
		</div>
	  </div>
	</div>
	
  </div>
  

  
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
