{% extends "main.html" %}

{% load staticfiles %}

{% block content%}

	{% autoescape off %}
	{{ carousel }}
	{% endautoescape %}


  <div class="container">

 		<div class="row">
			<div class="col-sm-8">
				<h1>Featured Projects</h1>
			</div>
		<div class="col-sm-4">
			<a style="float: right; max-width:100%; margin-top: 21px;" class="btn btn-primary btn-lg" href=" {% url 'projects:projects' %} ">More projects &raquo;</a>
		</div>
	</div>



  <!-- Three columns of text below the carousel -->
  <div class="row">

	{% for project in featured.projects.all %}
		{% include "projectcard.html" %}
	{% endfor %}

  </div><!-- /.row -->

  <hr>


  <div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-7">
			<h1>Recent Blog Entries</h1>
			{% include "recentblog.html" %}
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-4">
			{% include "badges.html" %}
		</div>
   </div>



  {% include "footer.html" %}


</div><!-- /.container -->

{% endblock %}
