{% extends "main.html" %}

{% block content%}

{% autoescape off %}


 <div class="container">
      <br>
	  {% block projectcontent %}

	  
	  {% endblock %}

	  <br><br>
	  
	  {% if superuser %}
	  <div class="row" >
	   <div class="span10"></div>
	   
	  <div class="span2">
	  <a href="/admin/projects/project/{{ project.id }}/">Edit this Project</a>
	  </div>
	  </div>
	  {% endif %}

      {% include "footer.html" %}
	  
	 

    </div> <!-- /container -->
	
{% endautoescape %}

{% endblock %}

{% block title%} {{ project.title}} {% endblock %}