{% extends "project.html" %}

{% block projectcontent %}
<div class="row-fluid" >

{% if blog %}
<div class="span1"></div>
{% else %}
<div class="span2"></div>
{% endif %}


<div class="span7">

<div style="background-color: #eeeeee; border-radius: 6px; ">
	<div style="margin:0px 20px 20px 20px;">
	<br>
	{{ column1 }}
<br><br><hr>
	
	
	
	{% include "projectcomments.html" %}
	</div>

</div>

	<br>
	{% include "categorylist.html" %}

</div>

{% if blog %}
<div class="span3">
		<h1>News About This Project</h1>
		{% include "recentblog.html" %}
</div>
{% endif %}

</div>

{% endblock %}