{% extends "project.html" %}

{% block projectcontent %}
<div class="row" >

	{% if blog %}
	{% else %}
	<div class="col-md-1"></div>
	{% endif %}

	{% if blog %}
	<div class="col-md-8">
	{% else %}
	<div class="col-md-10">
	{% endif %}

		<div class="well">
			<br>
			{{ column1 }}
			<br><br><hr>
			{% include "projectcomments.html" %}
		</div>
		{% include "categorylist.html" %}
	</div>

	{% if blog %}
	<div class="col-md-4">
			<h1>News About This Project</h1>
			{% include "recentblog.html" %}
	</div>
	{% else %}
	<div class="col-md-1"></div>
	{% endif %}
	

</div>

{% endblock %}